<head>
    <title>Spring Boot User Authentication</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js" > </script>

</head>
<body>
<div class="header">
    <div class="title">COVID INDIA DASHBOARD</div>
    <div class="dashlogout">
        <button onclick="location.href='/logout';">logout</button>
    </div>

</div>
<div class="dashcontent">
<div class="datamaindiv">

    <div class="data">
        <div class="datacards">
            <label>Total</label>
            <label id="confirmedcases" class="count">0</label>
        </div>
        <div class="datacards">
            <label>Active Cases</label>
            <label id="activecases"  class="count">0</label>
        </div>
    </div>

    <div class="data">
        <div  class= "datacards">
            <label>Recovered Cases</label>
            <label id="recoveredcases" class="count">0</label>
        </div>
        <div class="datacards">
            <label>Deaths</label>
            <label id="deaths"  class="count">0</label>
        </div>
    </div>

</div>


<div class="graphlistmain">
<div class="graph" id="graph">
    <canvas id="myChart" width="400" height="400"></canvas>
</div>
<div class="listmaindiv">
    <table id="statelist">
        <tr>
            <th>State</th>
            <th>Total Confirmed</th>
            <th>Discharged</th>
            <th>Deaths</th>
        </tr>

    </table>
</div>
</div>
</div>
<script src="/js/dashboard.js"></script>
</body>
</html>