<!DOCTYPE html>
<html>
<head>
    <title>Spring Boot User Authentication</title>
    <link rel="stylesheet" href="/css/common.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/common.js"></script>
</head>
<body>
<div class="header">
    <div class="title">COVID INDIA DASHBOARD</div>
</div>
<div class="login-page">
    <div class="formheading">Register</div>
    <div class="form">
        <div id="errormessagediv"></div>
        <form class="register-form" action="/sign-up" method="post" id="register-form">
            <input type="text" id="name" name="name" placeholder="name"/>
            <input type="text" id="email" name="email" placeholder="email address"/>
            <input id="password" name="password" type="password" placeholder="password"/>
            <input class="submit-button" type="submit" name="submit" value="create" />
            <p class="message">Already registered? <a href="/sign-in">Sign In</a></p>
        </form>
    </div>
</div>
<script src="/js/signup.js"></script>
</body>
</html>